service cloud.firestore {
  match /databases/{database}/documents {
    match /habits/{anything=**} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow create: if request.auth != null;
    }
  }
}
