<div class="row">
  <div class="col-md-8">
    <h1>my habits</h1>
  </div>
  <div class="col-md-4">
    <app-signout></app-signout>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Habit</th>
        <th scope="col" *ngFor="let day of weekDays"
            [ngClass]="{'table-warning': day.diff(today) === 0}">
          <span class="note">{{day.format('D.M.')}}</span>
          <br/>
          {{day.format('dd')}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let habit of habits">
        <td>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteHabit(habit)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <inline-editor type="text"
                         size="20"
                         [(ngModel)]="habit.name"
                         (onSave)="saveHabitName(habit, $event)"></inline-editor>
        </td>
        <td scope="col" *ngFor="let day of weekDays"
            [ngClass]="{'table-danger': (!habit.progress[getKeyFromMoment(day)] || habit.progress[getKeyFromMoment(day)] < habit.goal) && day.diff(today) !== 0,
                        'table-success': habit.progress[getKeyFromMoment(day)] && habit.progress[getKeyFromMoment(day)] >= habit.goal,
                        'table-warning': (!habit.progress[getKeyFromMoment(day)] || habit.progress[getKeyFromMoment(day)] < habit.goal) && day.diff(today) === 0}">
          <inline-editor *ngIf="habit.progress[getKeyFromMoment(day)]"
                         type="number"
                         [(ngModel)]="habit.progress[getKeyFromMoment(day)]"
                         (onSave)="saveProgress(habit, day, $event)"></inline-editor>
          <inline-editor *ngIf="!habit.progress[getKeyFromMoment(day)]"
                         type="number"
                         ngModel
                         empty="0"
                         value="0"
                         (onSave)="saveProgress(habit, day, $event)"></inline-editor>
          <span class="goal"> / {{habit.goal}}</span>
          <span class="pull-right increment-buttons">
            <button class="btn btn-warning btn-sm" (click)="decrement(habit, day)"><i class="fa fa-minus" aria-hidden="true"></i></button>
            <button class="btn btn-success btn-sm" (click)="increment(habit, day)"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="newHabitForm" (ngSubmit)="newHabitSubmitted()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="newHabitText" placeholder="new habit"
                 formControlName="newHabitText"/>
        </div>
        <div class="form-group col-md-4">
          <input type="number" class="form-control" id="newHabitGoal" placeholder="1" min="1"
                 formControlName="newHabitGoal"/>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" type="submit">add</button>
        </div>
      </div>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="newHabitForm.invalid && newHabitForm.touched">
      Invalid form!
    </div>
  </div>
</div>
