<table class="table table-striped table-bordered table-hover col-md-12">
  <thead class="thead-dark">
  <tr>
    <th scope="col" class="col-md-4">Habit</th>
    <th scope="col" *ngFor="let day of weekDays" [ngClass]="{'today': day.diff(today) === 0}">
      <span class="note">{{day.format('D.M.')}}</span>
      <br/>
      {{day.format('dd')}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let habit of habits">
    <td>{{habit.name}}</td>
    <td scope="col" *ngFor="let day of weekDays"
        [ngClass]="{'failed': getHabitProgress(habit, day) < habit.count && day.diff(today) !== 0,
                    'success': getHabitProgress(habit, day) >= habit.count && day.diff(today) !== 0,
                    'today': day.diff(today) === 0}">
      <inline-editor type="number"
                     [(ngModel)]="habitsProgress.get(habit.id).get(day.unix()).accomplished"
                     (onSave)="saveEditable(habit, day, $event)"></inline-editor>
      <span class="goal"> / {{habit.count}}</span>
    </td>
  </tr>
  </tbody>
</table>
