th {
  font-size: .8rem;
  color: #878787;
}

.note {
  font-size: .7rem;
  color: #a8a8a8;
}

.goal {
  font-size: .7rem;
  color: darkgray;
  font-weight: bolder;
}

table td {
  padding: .2rem;
}

.table {
  background-color: whitesmoke;
}

.increment-buttons {
  font-size: .75rem;
  line-height: 1.5rem;
}

.btn-sm {
  padding: .1rem .4em;
  font-size: .75rem;
  line-height: 1.3;
}
