th {
  font-size: 13px;
  color: #878787;
}

.note {
  font-size: 11px;
  color: #a8a8a8;
}

.goal {
  font-size: 10px;
  color: darkgray;
  font-weight: bolder;
}

table td {
  padding: .2rem;
}

.table {
  background-color: whitesmoke;
}
